*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
header{
    background-color: #085749;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-content{
    /* background-color: green; */
    width: 18%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.logo, .deliever{
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
    padding: 3%;
    color: white;
}
.logo img{
    width: 100%;
    height: 100%;
}
.deliever p:first-child{
    margin-left: 1.5rem;
}
.pakistan {
    display: inline;
    font-weight: 900;
}
.searchBar{
    /* background-color: pink; */
    width: 52%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
form{
    width: 98%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}
.searchBar select{
    padding: 2% 1%;
    border: none;
    border-right: 1px solid #e6e6e6;
    border-radius: 5px 0px 0px 5px;
    background-color: #e6e6e6;
    color: #5f5f5f;
}
.searchBar input{
    padding: 2%;
    width: 90%;
    border: none;
}
.searchBar input::placeholder{
    font-weight: 500;
    color: #999999;
    font-size: 1rem;
}
.searchBar i{
    background-color: #a9176f;
    padding: 2%;
    width: auto;
    border-radius: 0px 5px 5px 0px;
}
.right-content{
    /* background-color: black; */
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.country{
    /* background-color: pink; */
    width: 20%;
    padding: 3%;
}
.country p, .cart-logo p{
    display: inline;
}
.logIn, .returns{
    width: 25%;
}
.cart-logo{
    width: auto;
}
nav{
    width: 100%;
    height: 5vh;
    background-color: #016341;
    color: white;
}
.nav-container{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.all-icon{
    display: flex;
}
.hero-section{
    width: 100%;
    height: 100%;
    background-color: #e2e6e0;
}
.hero-container{
    background-image: url(./images/hero-section.jpg);
    background-size: cover;
    width: 100%;
    height: 60vh;
}
.carts{
    display: flex;
    width: 98%;
    height: 100%;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: pink; */
    margin-top: -10rem;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}
.cart{
    height: 100%;
    width: 23%;
    background-color: white;
    /* gap: 1.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    margin-bottom: 2rem;
}
.cart .sub-image-1, .cart .sub-image-2{
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cart h2, .cart a{
    margin-right: 2rem;
    text-decoration: none;
}
.single-cart{
    height: 100%;
    width: 26%;
    background-color: white;
    padding:1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.single-cart img{
    width: 100%;
    height: 100%;
}
.single-cart a{
    text-decoration: none;
}
.pagination-section{
    background-color: white;
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: auto;
    margin-top: 1.5%;
    padding: 1%;
}
.image-pagination{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.another-carts{
    display: flex;
    width: 98%;
    height: 100%;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: pink; */
    /* margin-top: -10rem; */
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.back-to-top{
    background-color: #232f3e;
    margin-top: 5%;
    height: 5vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-to-top h3 a{
    color: white;
    text-decoration: none; 
    font-weight: 300;
}
footer{
    background-color: #10151b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    height: 40vh;
}
.column1 h3{
   margin: auto;
}
.column1 ul li{
    list-style: none;
    margin-bottom: 2%;
}
.column1 ul li a{
    color: rgba(255, 255, 255, 0.858);
    text-decoration: none;
}